<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiGroup</title>

    <link rel="stylesheet" href="Arquitectuta.css">
</head>
<body>
    <header class="header">
        <div class="container1 headerfijo">
            <nav class="navigation">
                <ul>
                    <li><a href="Principal.html" class="logo"><img src="imgs/LogoWikiGroup.png" alt="WikiGroup" class="imagelogo"></a></li>
                    <li><a href="Presentacion.html">Presentacion</a></li>
                    <li><a href="Descripcion.html">Descripcion</a></li>
                    <li><a href="Requerimientos.html">Requerimientos</a></li>
                    <li><a href="Arquitectura.html">Arquitectura</a></li>
                    <li><a href="Desarrollo.html">Desarrollo</a></li>
                    <li><a href="Pruebas.html">Pruebas</a></li>
                    <li><a href="Despliegue.html">Despliegue</a></li>
                    <li><a href="Contactenos.html">Contactenos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container cuadro">
            <h1>Arquitectura</h1>
            <p>A continuacion se muestran las arquitectura del proyecto, con 3 categorias grandes, y los subtipos que puestran
                los diagramas y la forma general del mismo:</p>
           
            </p>
        </div>
        <div class="container cuadro containerPres">
            <h1>Diagramas de referencia C4</h1>
            <h2>Diagrama de contexto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reiciendis cumque similique! Cupiditate voluptatem magnam facilis blanditiis? Aliquam, atque cumque sapiente recusandae, eum facere blanditiis sequi libero earum perspiciatis ratione!</p>
            <h2>Diagrama de contenedor</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam veritatis tempore voluptatem architecto sapiente autem aperiam, repellendus eius, neque laudantium voluptates vero nesciunt ullam! Assumenda blanditiis illum minima beatae sint.</p>
            <h2>Diagrama de componente</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
            as aspernatur repudiandae a? Molestiae, voluptatum. 
        </div>
        <div class="container cuadro containerPres">
            <h1>Modelos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
            as aspernatur repudiandae a? Molestiae, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
             vero similique eos nihil amet nemo dolor atque provident doloremque maxime rerum! Dignissimos voluptate volup
             tas soluta quisquam dicta rerum sit delectus.
        </div>
        <div class="container cuadro containerPres">
            <h1>Despliegue</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
            as aspernatur repudiandae a? Molestiae, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
             vero similique eos nihil amet nemo dolor atque provident doloremque maxime rerum! Dignissimos voluptate volup
             tas soluta quisquam dicta rerum sit delectus.
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Pagina creada por Gabriel Negrin, Santiago Fandi y Sergio Parra</p>
        </div>
    </footer>
    
</body>
</html>