<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiGroup</title>

    <link rel="stylesheet" href="Desarrollo.css">
</head>
<body>
    <header class="header">
        <div class="container1 headerfijo">
            <nav class="navigation">
                <ul>
                    <li><a href="Principal.html" class="logo"><img src="imgs/LogoWikiGroup.png" alt="WikiGroup" class="imagelogo"></a></li>
                    <li><a href="Presentacion.html">Presentacion</a></li>
                    <li><a href="Descripcion.html">Descripcion</a></li>
                    <li><a href="Requerimientos.html">Requerimientos</a></li>
                    <li><a href="Arquitectura.html">Arquitectura</a></li>
                    <li><a href="Desarrollo.html">Desarrollo</a></li>
                    <li><a href="Pruebas.html">Pruebas</a></li>
                    <li><a href="Despliegue.html">Despliegue</a></li>
                    <li><a href="Contactenos.html">Contactenos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container cuadro">
            <h1>Endpoints</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sequi numquam
                 quisquam illo sunt. Labore iure, odio hic doloremque ab, aperiam tempore facil
                 is eum vel totam cumque, sequi temporibus at?</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas similique debitis 
                facere consequatur, corporis quis placeat sed nemo voluptas aut nam ad officia 
                architecto recusandae? Dolorem iure facilis labore maxime. Lorem ipsum dolor, sit amet consectetur 
                adipisicing elit. Omnis nobis laudantium modi sapiente facilis! Architecto a tenetur aperiam temporibus 
                magni qui quidem iure perspiciatis laudantium suscipit, delectus impedit possimus adipisci?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, tenetur. Corrupti beatae non commodi,
                 suscipit sit quaerat debitis facere odit itaque, sequi totam numquam at pariatur laudantium maxime e
                 xcepturi assumenda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit assumenda optio iusto
                  harum. Dolore repudiandae, sit fugit ex laboriosam deserunt doloremque, alias iusto assumenda vero 
                  aspernatur! Alias eos expedita asperiores!
            </p>
            

        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Pagina creada por Gabriel Negrin, Santiago Fandi y Sergio Parra</p>
        </div>
    </footer>
    
</body>
</html>