<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiGroup</title>

    <link rel="stylesheet" href="Presentacion.css">
</head>
<body>
    <header class="header">
        <div class="container1 headerfijo">
            <nav class="navigation">
                <ul>
                    <li><a href="Principal.html" class="logo"><img src="imgs/LogoWikiGroup.png" alt="WikiGroup" class="imagelogo"></a></li>
                    <li><a href="Presentacion.html">Presentacion</a></li>
                    <li><a href="Descripcion.html">Descripcion</a></li>
                    <li><a href="Requerimientos.html">Requerimientos</a></li>
                    <li><a href="Arquitectura.html">Arquitectura</a></li>
                    <li><a href="Desarrollo.html">Desarrollo</a></li>
                    <li><a href="Pruebas.html">Pruebas</a></li>
                    <li><a href="Despliegue.html">Despliegue</a></li>
                    <li><a href="Contactenos.html">Contactenos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container cuadro">
            <h1>ypsilós</h1>
            <p>En esta seccion encontrara una breve descripcion de ypsilós, grupo conformado por Gabriel, Santiago y Sergio,
                ademas de algunos conocimientos basicos y quienes somos </p>
            </p>
        </div>
        <div class="container cuadro containerPres">
            <table>
                <thead></thead>
                <tr>
                    <td>
                        <img src="imgs/GabrielNegrin.png" alt="O" class="perfil"></div>
                    </td>
                    <td>
                        <h1>Gabriel Negrin</h1>
                        <p>Un estudiante de ingenieria de sistemas en sexto semestre, actualmente he aprendido a desarrollar
                            en c++, donde personalmente me siento mas seguro, java, actualmente aprendiendo algo de web, kotlin y
                            desarrollo nativo en android. Me gusta sobretodo el trabajo sobre redes y servidores, y pienso especializarme
                            como devOps. Donde soy fuerte actualmente es sobretodo en backend, y manejo de estructuras de datos en c++
                    </td>
                </tr>
            </table>
        </div>
        <div class="container cuadro containerPres">
            <table>
                <thead></thead>
                <tr>
                    <td>
                        <img src="imgs/perfilnodefinido.png" alt="O" class="perfil"></div>
                    </td>
                    <td>
                        <h1>Santiago Fandi</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem possimus, aliq
                            uam ab officia molestiae neque cupiditate. Tempora dignissimos commodi fuga 
                            cupiditate quod ab excepturi, vero aut, ipsum eos sapiente! Iusto.
                    </td>
                </tr>
            </table>
        </div>
        <div class="container cuadro containerPres">
            <table>
                <thead></thead>
                <tr>
                    <td>
                        <img src="imgs/perfilnodefinido.png" alt="O" class="perfil"></div>
                    </td>
                    <td>
                        <h1>Sergio Parra</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
                            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
                            as aspernatur repudiandae a? Molestiae, voluptatum.
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer class="footer">
        <div class="foot2">
            <p>Pagina creada por Gabriel Negrin, Santiago Fandi y Sergio Parra</p>
        </div>
    </footer>
    
</body>
</html>