<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiGroup</title>

    <link rel="stylesheet" href="Pruebas.css">
</head>
<body>
    <header class="header">
        <div class="container1 headerfijo">
            <nav class="navigation">
                <ul>
                    <li><a href="Principal.html" class="logo"><img src="imgs/LogoWikiGroup.png" alt="WikiGroup" class="imagelogo"></a></li>
                    <li><a href="Presentacion.html">Presentacion</a></li>
                    <li><a href="Descripcion.html">Descripcion</a></li>
                    <li><a href="Requerimientos.html">Requerimientos</a></li>
                    <li><a href="Arquitectura.html">Arquitectura</a></li>
                    <li><a href="Desarrollo.html">Desarrollo</a></li>
                    <li><a href="Pruebas.html">Pruebas</a></li>
                    <li><a href="Despliegue.html">Despliegue</a></li>
                    <li><a href="Contactenos.html">Contactenos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container cuadro">
            <h1>Pruebas</h1>
            <p>A continuacion se muestran las pruebas que se espera realizar, con el fin de revisar si el projecto cumple:</p>
           
            </p>
        </div>
        <div class="container cuadro containerPres">
            <h1>Frontend</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
            as aspernatur repudiandae a? Molestiae, voluptatum. Lorem ipsum dolor sit amet consectetur adipisici
            ng elit. Dolores, repellat porro! Veniam eius adipisci, ipsa blanditiis nulla commodi asperiores. 
            Delectus molestias quasi eius rerum laboriosam aut explicabo voluptatibus amet. Vel.
        </div>
        <div class="container cuadro containerPres">
            <h1>Backend</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, tenetur, suscipit, iste ipsam 
            velit totam quae ipsa distinctio iure adipisci eligendi incidunt delectus facere molesti
            as aspernatur repudiandae a? Molestiae, voluptatum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea,
             vero similique eos nihil amet nemo dolor atque provident doloremque maxime rerum! Dignissimos voluptate volup
             tas soluta quisquam dicta rerum sit delectus.
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <p>Pagina creada por Gabriel Negrin, Santiago Fandi y Sergio Parra</p>
        </div>
    </footer>
    
</body>
</html>